:root{
    --red-color:#f9004d;
    --primary-font:'Bodoni Moda', serif;
    --secondary-font: 'Montserrat', sans-serif;
    --secondary-color:#2B3035;
    --background-color:#212529;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --scale:scale(1.1);
}
*{
    margin:0 0;
    padding:0 0;
}
body{
   margin:150px 40px;
    background-color:var(--background-color); 
    color:white;
    font-family: var(--secondary-font);
}
.collapse a{
    font-size: 18px;
    
}

h1{
    font-size: 96px;
 font-family: var(--primary-font);
  

}
h3{
    font-size: 28px;
 
}
h2{
    font-family: 28px;
    position:relative;
    right:30px;
}
p{
    font-size: 23px;
    
}

.row{
    margin-top: 50px;
    margin-bottom: 50px;
}

.red{
    color:var(--red-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.red-heading{
    color:var(--red-color);
}
footer {
  margin-top: 60px;
}

footer .social-links a{
    margin: 0 20px;
  color: var(--red-color);
  background-color: var(--secondary-color);
  padding: 10px 16px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
  box-shadow: var(--box-shadow);
}
footer .social-links a:hover {
  color: white;
  background-color: var(--red-color);
  transform:var(--scale);
}

.contact-box{
    background: var(--secondary-color);
    padding: 30px 120px;
  border-radius: 10px;
   box-shadow: var(--box-shadow);
}
.btn{
    background: var(--red-color);
    border-radius: 30px;
    color:white;
    display: block;
     box-shadow: var(--box-shadow);
     transition: all 150ms ease-in-out;
     font-size: 18px;
}
.btn:hover{
    transform:var(--scale);
    background: var(--red-color);

}
i{
        margin: 0 20px;
  color: var(--red-color);
  background-color: var(--secondary-color);
  padding: 10px 16px;
  border-radius: 50%;
  font-size: 40px;
  transition: all 100ms ease-in-out;
  box-shadow: var(--box-shadow);
}
