body{
    margin:130px 100px;
    background-color:#212529; 
    color:white;
    font-family: 'Poiret One', cursive;
}

h1{
    font-size: 96px;
    font-family: 'Bodoni Moda', serif;
}
h3{
    font-size: 28px;
    font-family: 'Poiret One', cursive;
}
.row{
    margin-top: 50px;
    margin-bottom: 50px;
}
.text1{
    font-size: 20px;
    
}
.red{
    color:#f9004d;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.red1{
    font-size: 96px;
    color:#f9004d;
}
.contacts{
    text-align: center;
}