:root{
    --red-color:#f9004d;
    --primary-font:'Bodoni Moda', serif;
    --secondary-font:'Poiret One', cursive;
}
body{
   margin:150px 40px;
    background-color:#212529; 
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-size: 96px;
 font-family: var(--primary-font);

}
h3{
    font-size: 28px;
    font-family: 'Poiret One', cursive;
}
.row{
    margin-top: 50px;
    margin-bottom: 50px;
}
.text1{
    font-size: 23px;
    
}
.red{
    color:var(--red-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.red1{
    font-size: 96px;
    color:var(--red-color);
}
.contacts{
    text-align: center;
}
.skills{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}